<div class="container">
  <h1 style="margin-left:450px;font-size: 40px">Update Product</h1>
  <button (click)="BackButton()" mat-raised-button color="primary" style="margin-left:1000px">&nbsp;&nbsp; BACK</button>
  <form class="example-form" >
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Product ID" [(ngModel)]="product_id" name="product_id" disabled id="product_id" #id1="ngModel" required>
    </mat-form-field>
    <div *ngIf="id1.invalid && (id1.dirty || id1.touched)" class="alert alert-danger">
      <div *ngIf="id1.errors.required">
        Product Id Is Required.
      </div>
    </div>


      <mat-form-field class="example-full-width">
        <input pattern="[a-zA-Z ]*" matInput placeholder="Product name" [(ngModel)]="product_name" name="product_name" id="product_name" #name="ngModel" required>
      </mat-form-field>
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
        <div *ngIf="name.errors.required">
          Product Name Is Required.
        </div>
        <div *ngIf="name.errors.pattern">
          You can't enter Digit.
        </div>
      </div>

      
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Category Name"  [(ngModel)]="category_id" name="category_id" disabled id="category_id" #cat_id="ngModel" required>
        </mat-form-field>
        <!-- <mat-form-field>
          <mat-select placeholder="Enter category Name" [(ngModel)]="category_id" name="category_id" required id="category_id" #cat_id="ngModel">
            <mat-option *ngFor="let item of categoryArray" [value]="item.category_name">
              {{item.category_name}}
            </mat-option>
          </mat-select>
        </mat-form-field> -->
        <div *ngIf="cat_id.invalid && (cat_id.dirty || cat_id.touched)" class="alert alert-danger">
          <div *ngIf="cat_id.errors.required">
            Category Id Is Required.
          </div>
        </div>

      
          <mat-form-field class="example-full-width">
            <input maxlength="5" pattern="[0-9]*" matInput placeholder="Product Price" [(ngModel)]="product_price" name="product_price" id="product_price" #price="ngModel" required>
          </mat-form-field>
          <div *ngIf="price.invalid && (price.dirty || price.touched)" class="alert alert-danger">
            <div *ngIf="price.errors.required">
              Product Price Is Required.
            </div>
            <div *ngIf="price.errors.pattern">
              You can't enter aplhabet.
            </div>
          </div>

      
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Product color" [(ngModel)]="product_colour" name="product_colour" id="product_colour" #colour="ngModel" required>
            </mat-form-field>
            <div *ngIf="colour.invalid && (colour.dirty || colour.touched)" class="alert alert-danger">
              <div *ngIf="colour.errors.required">
                Product Colour Is Required.
              </div>
            </div>

      
              <!-- <mat-form-field class="example-full-width" > -->
              <h3>Image</h3>

              <img src="http://localhost:3000/images/product_images/{{product_image}}">
              <br>
              <br>
              <input type="file" (change)="onselect($event)" selectedFile="product_image">
              <br>

              <!-- <input matInput placeholder="Product Image" [(ngModel)]="product_image" name="product_image"> -->
              <!-- </mat-form-field> -->

      
                <mat-form-field class="example-full-width">
                  <input pattern="[0-9]*" matInput placeholder="Product Weight" [(ngModel)]="product_weight" name="product_weight" id="product_weight" #weight="ngModel" required>
                </mat-form-field>
                <div *ngIf="weight.invalid && (weight.dirty || weight.touched)" class="alert alert-danger">
                  <div *ngIf="weight.errors.required">
                    Product Weight Is Required.
                  </div>
                  <div *ngIf="weight.errors.pattern">
                    You can't enter Alphabet.
                  </div>
                </div>

      
                  <mat-form-field class="example-full-width">
                    <input pattern="[0-9]*" matInput placeholder="Product Warranty" [(ngModel)]="product_warranty" name="product_warranty" id="product_warranty" #warranty="ngModel" required>
                  </mat-form-field>
                  <div *ngIf="warranty.invalid && (warranty.dirty || warranty.touched)" class="alert alert-danger">
                    <div *ngIf="warranty.errors.required">
                      Product Warranty Is Required.
                    </div>
                    <div *ngIf="warranty.errors.pattern">
                      You can't enter Alphabet.
                    </div>
                  </div>

      
                    <mat-form-field class="example-full-width">
                      <input pattern="[a-zA-Z]*" matInput placeholder="Product Material" [(ngModel)]="product_material" name="product_material" id="product_material" #material="ngModel" required>
                    </mat-form-field>
                    <div *ngIf="material.invalid && (material.dirty || material.touched)" class="alert alert-danger">
                      <div *ngIf="material.errors.required">
                        Product Material Is Required.
                      </div>
                      <div *ngIf="material.errors.pattern">
                        You can't enter Digit.
                      </div>
                    </div>

      
                      <mat-form-field class="example-full-width">
                        <input pattern="[a-zA-Z]*" matInput placeholder="Product Roomtype" [(ngModel)]="product_Roomtype" name="product_Roomtype" id="product_Roomtype" #room="ngModel" required>
                      </mat-form-field>
                      <div *ngIf="room.invalid && (room.dirty || room.touched)" class="alert alert-danger">
                        <div *ngIf="room.errors.required">
                          Product RoomType Is Required.
                        </div>
                        <div *ngIf="room.errors.pattern">
                          You can't enter Digit.
                        </div>
                      </div>

      
                        <mat-form-field class="example-full-width">
                          <input pattern="[0-9]*" matInput placeholder="Product Height" [(ngModel)]="product_height" name="product_height" required id="product_height" #height="ngModel">
                        </mat-form-field>
                        <div *ngIf="height.invalid && (height.dirty || height.touched)" class="alert alert-danger">
                          <div *ngIf="height.errors.required">
                            Product Height Is Required.
                          </div>
                          <div *ngIf="height.errors.pattern">
                            You can't enter Alphabet.
                          </div>
                        </div>

      
                          <mat-form-field class="example-full-width">
                            <input pattern="[0-9]*" matInput placeholder="Product Width" [(ngModel)]="product_width" name="product_width" required id="product_width" #width="ngModel">
                          </mat-form-field>
                          <div *ngIf="width.invalid && (width.dirty || width.touched)" class="alert alert-danger">
                            <div *ngIf="width.errors.required">
                              Product Width Is Required.
                            </div>
                            <div *ngIf="width.errors.pattern">
                              You can't enter Alphabet.
                            </div>
                          </div>

      
                            <mat-form-field class="example-full-width">
                              <input pattern="[0-9]*" matInput placeholder="Product Depth" [(ngModel)]="product_depth" name="product_depth" required id="product_depth" #depth="ngModel">
                            </mat-form-field>
                            <div *ngIf="depth.invalid && (depth.dirty || depth.touched)" class="alert alert-danger">
                              <div *ngIf="depth.errors.required">
                                Product Width Is Required.
                              </div>
                              <div *ngIf="depth.errors.pattern">
                                You can't enter Alphabet.
                              </div>
                            </div>

      
                              <mat-form-field class="example-full-width">
                                <input pattern="[0-9]*" matInput placeholder="Product Quantity" [(ngModel)]="product_qty" name="product_qty" required id="product_qty" #qty="ngModel">
                              </mat-form-field>
                              <div *ngIf="qty.invalid && (qty.dirty || qty.touched)" class="alert alert-danger">
                                <div *ngIf="qty.errors.required">
                                  Product Quantity Is Required.
                                </div>
                                <div *ngIf="qty.errors.pattern">
                                  You can't enter Alphabet.
                                </div>
                              </div>

      
                                <!-- <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Product Stock On Hand" [(ngModel)]="product_soh" name="product_soh" required id="product_soh" #soh="ngModel">
                                </mat-form-field>
                                <div *ngIf="soh.invalid && (soh.dirty || soh.touched)" class="alert alert-danger">
                                  <div *ngIf="soh.errors.required">
                                    Product Stock On Hand Is Required.
                                  </div>
                                </div> -->

                                <button (click)="UpdateProduct()" mat-raised-button color="primary" style="margin-left:100px">&nbsp;&nbsp;
                                  Save</button>
                                <button (click)="CancelProduct()" mat-raised-button color="primary" style="margin-left:100px">&nbsp;&nbsp;
                                  Cancel</button>
                                  </form>
                                  </div>