.abc{

    padding: 30px;
    font-family: 'Times New Roman', Times, serif;
  }
  .a{
  color:blue;
  margin-left: 100px;
  }
  .b{
    font-size:20px; ;
    color: white;
    height: 40px;
    width: 355px;
  }
  .c{
    background-color:cornflowerblue;
  }
  .d{
    background-color: crimson;
  }
  input{
    height: 25px;
    width: 350px;
  }
  
  