<div class="container">
  <h1 style="margin-left:500px">UPDATE EMPLOYEE</h1>
  <button  (click)="BackButton()" mat-raised-button color="primary" style="margin-left:1100px">&nbsp;&nbsp; BACK</button>
  <form class="example-form" >
    <mat-form-field class="example-full-width" >
      <input matInput placeholder="Employee email" [(ngModel)]="employee_email" name="employee_email">
    </mat-form-field>

    <form class="example-form" >
    <mat-form-field class="example-full-width" >
      <input matInput placeholder="Employee Password" [(ngModel)]="employee_password" name="employee_password">
    </mat-form-field>
    
    <form class="example-form" >
    <mat-form-field class="example-full-width" >
      <input matInput placeholder="Employee Name" [(ngModel)]="employee_name" name="employee_name">
    </mat-form-field>

    <form class="example-form" >
      <mat-form-field class="example-full-width" >
        <input matInput placeholder="Employee Joining Date" [(ngModel)]="employee_joining_date" name="employee_joining_date">
      </mat-form-field>
      
    <form class="example-form" >
      <mat-form-field class="example-full-width" >
        <input matInput placeholder="Employee Salary" [(ngModel)]="employee_salary" name="employee_salary">
      </mat-form-field>
      
      <form class="example-form" >
        <mat-form-field class="example-full-width" >
          <input matInput placeholder="Employee Designation" [(ngModel)]="employee_designation" name="employee_designation">
        </mat-form-field>
        
    <form class="example-form" >
      <mat-form-field class="example-full-width" >
        <input matInput placeholder="Employee Mobileno" [(ngModel)]="employee_mobileno" name="employee_mobileno">
      </mat-form-field>
  
      <form class="example-form" >
        <mat-form-field class="example-full-width" >
          <input matInput placeholder="Employee City" [(ngModel)]="employee_city" name="employee_city">
        </mat-form-field>
          
    <form class="example-form" >
      <mat-form-field class="example-full-width" >
        <input matInput placeholder="Employee Gender" [(ngModel)]="employee_gender" name="employee_gender">
      </mat-form-field>
        
    <form class="example-form" >
      <mat-form-field class="example-full-width" >
        <input matInput placeholder="Employee Address" [(ngModel)]="employee_address" name="employee_address">
      </mat-form-field>
         
    <form class="example-form" >
      <mat-form-field class="example-full-width" >
        <input matInput placeholder="Employee Type" [(ngModel)]="employee_type" name="employee_type">
      </mat-form-field>
         
    
<br>
      <button  (click)="onAddEmployeeButton()" mat-raised-button color="primary">&nbsp;&nbsp;&nbsp; ADD</button>
      &nbsp;&nbsp;&nbsp;<button   mat-raised-button color="primary">&nbsp;&nbsp;&nbsp; CANCEL</button>
    